header{
  border-bottom: solid black 1px;
  background-color:#FFE34D ;
  font-size: 50px;
}

.name-split{
  color: #0077FF;
}


.title-name-flex{
  display: flex;
  color: #FF98D6;
}


.Giant-letter{
  font-size: 208px;
}